*{
    margin: 0;
    /* padding: 0;                    */
    box-sizing: border-box;
    }
    
.container{
    width: 65vw;
}
main{
    margin-left:5px;
}

header {
    height: 10vh;
    background-color: rgb(88, 143, 215);
    background-image:url(/img/pattern.png);
    position:relative;
    margin-bottom: 15px;
}

.logo {
    width:150px;
    position: absolute;
    bottom:10px;
    left:5px;
}

h1{
    font-size:30px;
}

.info{
    color:grey;
}
#author{
    color: rgb(77, 153, 251);
}

time, figcaption{
    font-size:12px;
}

.images, .article {
    margin-top:10px;
}

.list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.table{
    margin-bottom: 30px;
    border-width: 0px;
}

thead{
    background-color: rgb(88, 143, 215);
    font: size 15px;px;
    text-align: left;
    color:white;
}

.th-1, .th-2{
    width:250px;
}

.colorow{
    background-color:rgb(162, 202, 255); ;
}

.others{
    margin-top: 30px;
}