*{
    margin: 0;
    /* padding: 0;                    */
    box-sizing: border-box;
    }
    
.container{
    width: 60vw;
}

header {
    height: 10vh;
    background-color: rgb(88, 143, 215);
    background-image:url(/img/pattern.png);
    position:relative;
    margin-bottom: 15px;
}

.logo {
    width:150px;
    position: absolute;
    bottom:10px;
    left:5px;
}

h1{
    font-size:30px;
}

time, figcaption{
    font-size:12px;
}

.images, .article {
    margin-top:10px;
}

.list{
    margin-top: 20px;
    margin-bottom: 20px;
}



thead{
    background-color: rgb(88, 143, 215);
    font: size 15px;px;
    text-align: left;
    color:white;
}

.th-1, .th-2{
    width:250px;
}

.colorow{
    background-color:rgb(162, 202, 255); ;
}